/* Remarque importante :
Le flag "!important" indique à Dash de ne pas écraser ce paramètre, ce qu'il fait par défaut
*/ 

html {

}

body {
    background-color: #FFE7E7;
    font-size: 12pt;
    font-style: normal;
    font-family: Arial narrow,Arial,Sans,sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: center;
  }

p {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0px
}
  
.main {
    width: 95%;
    margin-left: auto;    
    margin-right: auto;
}

h1 {
    font-size: 20pt;
    color: black;
}

h3 {
    font-size: 16pt;
    color: black;
    margin-top: 6px;
    margin-bottom: 4px;
    padding: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 13pt;
    color: black;
    margin-top: 16px;
    margin-bottom: 3px;
    padding: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    font-size: 13pt;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0px;
}

h6 {
    font-size: 12pt;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0px;
    text-align: right;
}

td {
    vertical-align: middle;
}

.parent-main-tabs {
    border-top-left-radius: 8px;
    border-bottom: 12px !important;
    border-color: green !important;
}

.main-tabs {
    width: 570px;
}

@media screen and (max-width: 600px) {
    .main-tabs {
        width: 95%;
    }
}

.tab {
    color: black;
    font-size: 11pt;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /*border-top: 3px solid transparent;*/
    border-width: 0px;
    padding: 7px !important;
    /* display: flex !important; */
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 30;
}  

.selected-tab {
    background-color: #FFF7F7 !important;
    box-shadow: 0px 1px 0px #FFF7F7;
    font-size: 11pt;
    font-weight: bold;
}  

.div-tab {
    background-color: #FFF7F7;
    border-style: solid !important;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: brown;
    width: 100%;
    padding: 4px;
    box-shadow: 0px -1px 0px brown;
    position: relative;
    max-height:80vh;
    overflow-y: auto;
    z-index: 20;
}

.viz-dropdown {
    width: 94% !important;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px) {
    .viz1-dropdown {
        width: 540px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.viz-dropdown-small {
    width: 85px !important;
    text-align: left;
}

.viz-dropdown-large {
    width: 900px !important;
    text-align: left;
}
@media screen and (max-width: 1200px) {
    .viz1-dropdown-large {
        width: 75vw !important;
        text-align: left;
    }
}

.viz-result {
    width: 96%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

